.wrapper {
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.username__list {
  font-size: 1.4rem;
  padding-bottom: 15px;
  padding-left: 20px;
  color: rgba(22, 24, 35, 0.75);
}

.accounts__items {
  padding-left: 20px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.accounts__avatar {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.accounts__info {
  padding-left: 10px;
  padding-top: 15px;
  flex: 1;
  overflow: hidden;
}

.accounts__name {
  font-size: 1.6rem;
  max-width: 145px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(22, 24, 35);
  text-overflow: ellipsis;
  display: flex;
}

.accounts__username {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 15px;
  color: rgba(22, 24, 35, 0.5);
  display: flex;
}

.see__more {
  font-size: 16px;
  display: flex;
  flex-direction: column-reverse;
  background-color: transparent;
}

.see__more__title {
  padding: 20px 20px 15px 20px;
  color: rgb(254, 44, 85);
  cursor: pointer;
}

.see__more__list {
  width: 100%;
}
