.footer {
  width: 100%;
  min-height: 400px;
  padding: 40px 150px;
  background-color: #000;

  .footer__head {
    display: flex;

    img {
      height: 34px;
      margin-top: 10px;
    }

    .interact {
      display: flex;
      margin: 0 50px;

      .interact__items {
        width: 225px;
        color: var(--white);

        h4 {
          line-height: 40px;
        }
        a {
          opacity: 0.8;
          line-height: 35px;
          font-size: 1.4rem;
          color: var(--white);

          &:hover {
            border-bottom: 2px solid var(--white);
          }
        }
      }
    }
  }

  .footer__end {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    .footer__end__btn {
      font-size: 1.6rem;
      padding: 5px 10px;
      cursor: pointer;
      border: 0.5px solid #ccc;
      background-color: #000;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 150px;

      div#tippy-8 {
        display: none;
      }

      &:hover {
        div#tippy-8 {
          display: flex;
        }
      }
    }
  }
}
// Tippy

.block {
  background-color: white;
  border: 1px solid #898585;

  .language__items {
    height: 600px;
    max-height: min(100vh);
    overflow-y: auto;
    border: 1px solid #959595;

    li {
      padding: 5px 10px;
      cursor: context-menu;

      &:hover {
        background-color: #0ecff0;
        color: var(--white);
      }
    }
  }
}
