.wrapper {
  --search-border-radius: 92px;

  width: var(--web_width);
  height: 60px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

  .inner {
    height: 100%;
    padding: 0 24px;
    width: var(--web_width);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      cursor: pointer;
    }
  }
}

// actions

.actions {
  display: flex;
  align-items: center;
}

.menu_btn {
  font-size: 2rem;
  padding: 5px 0px 5px 20px;
  background-color: var(--White);
  cursor: pointer;
}

.upload__btn {
  padding: 7px 20px;
  margin-right: 10px;
  border: 1px solid rgba(22, 24, 35, 0.12);
}

// avatar

.use_avatar {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  border-radius: 999px;
  background-color: transparent;
  cursor: pointer;
}

.login_btn {
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
  line-height: 30px;

  + .login_btn {
    margin-right: 10px;
    margin-bottom: -5px;
  }
  .notification__icon {
    margin-bottom: -3px;
  }
}

// Notifition header

.wrapper__notification {
  border-radius: 8px;
  width: 400px;
  border: 1px solid #ddd;
  background-color: white;

  h1 {
    padding: 20px 0 20px 15px;
  }

  .block__nav {
    border-bottom: 1px solid transparent;
    padding-left: 20px;

    .notifications__nav {
      border-radius: 999px;
      padding: 0 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      display: inline-block;
      background-color: #ddd;
      cursor: pointer;

      &:focus {
        color: var(--white);
        background-color: black;
      }
    }

    .notifications__nav__end {
      font-weight: 600;
      margin: 10px 0 0 0;
      color: black;
      cursor: pointer;
    }
  }

  .context {
    height: 500px;
    max-height: min(100vh - 250px);
    overflow-y: auto;

    h3 {
      margin-top: 10px;
      padding-left: 20px;
    }

    .context__notifications {
      padding: 10px 5px 10px 20px;
      display: flex;

      &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
      }

      span {
        font-size: 1.4rem;
        display: flex;
        overflow: hidden;
      }

      .img {
        min-width: 48px;
        height: 48px;
        position: relative;

        .imgs {
          width: 36px;
          height: 36px;
          right: -5px;
          border-radius: 50%;
          object-fit: cover;
          position: absolute;
        }

        .imgs__sub {
          top: 10px;
          right: 10px;
          width: 36px;
          height: 36px;
          position: absolute;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .Content {
        padding: 0px 12px;
        max-width: 275px;
        flex: 1 1 auto;

        .title {
          opacity: 1;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .title__sub {
          color: rgba(22, 24, 35, 0.5);
          overflow: hidden;
        }
      }
      .context__notifications__img {
        width: 42px;
        height: 56px;
        object-fit: cover;
      }
    }

    .shackle__icon {
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content__follow__request {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      align-items: center;
      display: flex;

      &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
      }

      .img {
        margin-top: -30px;
        min-width: 48px;
        height: 48px;
        margin-right: 15px;
        border-radius: 50%;
        object-fit: cover;
      }

      .list {
        .title {
          display: block;
        }

        .title__sub {
          opacity: 0.6;
          font-size: 1.4rem;
        }

        .list__btn {
          margin-top: 10px;
        }
      }
    }
  }
}
