.wrapper {
  width: 100%;
  height: 2000px;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  background-color: #f4f4f4;
  max-height: min(100vh - 70px);

  .next__icon {
    cursor: pointer;
  }

  .wrapperSub {
    width: 1170px;
    margin: 20px 0;
    display: flex;

    .icon__back {
      padding: 10px;
      border-radius: 50%;
      margin-right: 20px;
      background-color: #ddd;
    }

    .setting__nav {
      width: 355px;
      height: 100%;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      background-color: rgba(255, 255, 255, 1);
      overflow: hidden auto;

      .title {
        padding: 20px;
        display: flex;
        justify-content: space-between;

        button {
          background-color: transparent;
        }
      }

      .setting__icon {
        width: 30px;
        height: 50px;
        cursor: pointer;
      }

      .title__items__sub {
        opacity: 0.8;
        padding: 10px 0;
        font-size: 1.3rem;
        padding-left: 21px;
        display: block;
        background-color: #f4f4f4;
      }
    }

    .container {
      width: 700px;
      height: 100%;
      margin-left: 20px;
      border-radius: 8px;
      background-color: var(--white);
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      overflow: hidden auto;
    }
  }

  .block {
    width: 100%;
    height: 100%;
    outline: 0px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    .block__message {
      width: 700px;
      border-radius: 8px;
      background: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;

      .head__massage__setting {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;

        h1 {
          font-size: 25px;
        }

        button {
          background-color: transparent;
        }

        .icon__delete {
          cursor: pointer;
        }
      }

      .body__message__setting {
        padding: 20px;

        span {
          opacity: 0.6;
          font-size: 14px;
        }
        div {
          margin-top: 20px;
          display: flex;
          .btn {
            margin-right: 5px;
            width: 20px;
            height: 20px;
            margin-top: 3px;
          }
        }
      }

      .block__btn {
        padding: 20px;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: flex-end;

        button {
          padding: 5px;
          width: 170px;
          height: 40px;
          border-radius: 6px;
        }
      }
    }
  }
}

input[name="gender"] {
  accent-color: red;
}
