.wrapper {
  display: flex;
  justify-content: center;

  .main {
    width: 700px;
    height: 100%;
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }

  .img__video {
    width: 56px;
    height: 56px;
    min-width: 56px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
  }

  .video {
    width: 100%;

    .video__head {
      display: flex;

      .video__head__sub {
        width: 100%;
        padding-right: 10px;
      }
    }

    .name {
      font-weight: 600;
      margin-bottom: 5px;
      display: flex;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      .name__sub {
        font-size: 14px;
        margin-left: 5px;
        opacity: 0.6;
        font-weight: 100;
        line-height: 27.999px;
      }
    }

    .title {
      padding-right: 2.5px;
      display: inline-block;
    }

    .title__nav {
      padding: 0 2.5px;
      font-weight: 600;
      display: inline-block;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .music {
      margin: 10px 0;
      font-weight: 600;
      display: block;
      background-color: transparent;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .video__main {
      width: 100%;
      display: flex;

      .video__main__video {
        border-radius: 5px;
        width: 380px;
        overflow: hidden;
      }

      .video__main__navigation {
        margin-left: 20px;
        display: flex;
        align-items: flex-end;

        .navigation__sub {
          display: flex;
          flex-direction: column;

          .block {
            margin-bottom: 15px;
            background-color: transparent;

            .block__icon {
              display: flex;
              flex-direction: column;

              .block__icon__btn {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-bottom: 5px;
                background-color: #ddd;
                cursor: pointer;

                .icon {
                  margin-bottom: -20px;
                  width: 20px;
                  height: 20px;
                }
              }
            }

            .icon__active {
              color: red;
            }

            .icon__active__book {
              color: yellow;
            }
          }
        }
      }
    }
  }
}

// tippy share

.btn__following {
  background-color: transparent;
}
