button {
  background-color: transparent;
}
.wrapper {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: min(100vh - 50px);
  .next__icon {
    cursor: pointer;
  }

  .wrapperSub {
    width: 1170px;
    margin-top: 20px;
    display: flex;
    position: relative;

    .icon__back {
      background-color: #ddd;
      border-radius: 50%;
      padding: 10px;
      margin-right: 20px;
    }

    .setting__nav {
      width: 355px;
      background-color: var(--white);
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      border-radius: 8px 8px 0 0;
      overflow: hidden auto;
      height: 100%;

      .setting__nav__items {
        padding: 15px;
        cursor: pointer;
        display: block;

        span {
          font-size: 1.7rem;
          margin-left: 10px;
        }

        .icon {
          margin-bottom: -10px;
          width: 2.6rem;
        }
        &:focus::after {
          color: #fe2c55;
        }
      }
    }

    .container {
      width: 700px;
      background-color: var(--white);
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      border-radius: 8px 8px 0 0;
      overflow: hidden auto;
      height: 100%;
      margin-left: 20px;

      .container__block {
        padding: 25px 30px;

        h4 {
          font-size: 17px;
          font-weight: 600;
          margin-top: 10px;
        }

        .current {
          cursor: pointer;
        }
        .interact {
          font-size: 14px;
          margin-top: 10px;
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #ddd;
        }

        span {
          opacity: 0.6;
        }
        p {
          font-size: 11px;
          opacity: 0.6;
        }

        a {
          color: #fe2c55;
        }
      }
    }

    // navigation bar page
    .container__sub {
      right: 0;
      width: 700px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      border-radius: 8px 8px 0 0;
      max-height: min(100vh - 80px);
      padding: 0 30px;
      height: 100%;
      margin-right: 25px;
      overflow-y: auto;
      position: absolute;

      // Blocked Accounts
      h2 {
        display: flex;
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 15px;

        .icon__back {
          background-color: #ddd;
          border-radius: 50%;
          padding: 5px;
          margin-right: 20px;
          font-size: 10px;
          width: 40px;
          height: 40px;
        }
      }

      .container__sub__items {
        display: flex;
        align-items: center;
        margin: 10px 0;

        img {
          width: 64px;
          height: 64px;
          object-fit: cover;
          border-radius: 50%;
        }

        .title {
          margin: 0 15px;
          flex: 1;

          span {
            font-size: 1.4rem;
            display: block;
          }
        }
      }
      // Download data
      .nav {
        display: flex;

        .nav__items {
          font-size: 1.8rem;
          cursor: pointer;
          display: flex;
          justify-content: center;
          flex: 1;
          border: 1px solid #ddd;
          margin: 0 5px;
          border-radius: 5px;
          padding: 5px 0;
          &:focus,
          &:hover {
            color: #fe2c55;
            background-color: #f7f7f7;
          }
        }
      }

      .content {
        padding-bottom: 1px;
        .content__sub {
          padding: 10px;
          font-size: 1.4rem;
          opacity: 0.6;
          margin: 10px 5px;
          display: inline-block;
          background-color: #ddd;
        }
        .content__main {
          margin-top: 20px;

          h4 {
            margin-bottom: 10px;
          }
          .content__main__icon {
            display: flex;
            margin-bottom: 15px;

            .data__icon {
              width: 20px;
              margin-top: 5px;
            }

            ul {
              flex: 1;
              margin-left: 10px;

              span {
                opacity: 0.6;
              }
            }

            input[name="date"] {
              accent-color: red;
              cursor: pointer;
              width: 20px;
              height: 20px;
            }
          }
        }
        .content__btn {
          margin-bottom: 50px;
          margin-top: 40px;

          button {
            width: 100%;
            height: 50px;
          }
        }
      }
      .content__download {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .date__con__giant {
          width: 100px;
          height: 100px;
          opacity: 0.2;
          margin-top: 200px;
        }
        span {
          opacity: 0.6;
        }
      }
    }
  }
}

.block {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  .block__delete {
    width: 700px;
    max-height: 100%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ddd;

    .block__delete__head {
      display: flex;
      justify-content: space-between;
      padding: 20px 30px;
      border-bottom: 1px solid #ddd;

      .icon {
        margin-top: 10px;
        cursor: pointer;
      }
    }

    .block__delete__content {
      padding: 30px 40px;
      overflow-y: auto;
      max-height: min(100vh - 230px);

      span {
        opacity: 0.8;
        font-size: 1.4rem;
      }

      p {
        display: inline-block;
        font-weight: 600;
      }

      ul {
        margin: 10px;

        li {
          font-size: 1.4rem;
          opacity: 0.8;
          list-style: disc;
          margin: 10px 0 10px 15px;
        }
      }
    }
    .block__delete__btn {
      margin-top: 40px;
      border-top: 1px solid #ddd;
      padding: 30px 30px 0;
      display: flex;
      justify-content: flex-end;

      button {
        padding: 5px 15px;
      }
    }
  }
}
