.nav {
  overflow-x: hidden;
  max-width: min(100% - 40px);
  display: flex;
  padding: 20px 0;
  margin-left: 10px;

  .nav__items {
    display: flex;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #f1f1f1;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid #000;
      background-color: #f1f1f1;
    }

    span {
      white-space: nowrap;
      padding: 0 10px 0 0;
      font-size: 1.5rem;
      margin-top: 2px;
    }
  }
  .icon {
    margin-right: 5px;
    margin-left: 5px;
    color: #000;
  }
}

.wrapper__sub {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;

  .block {
    margin-bottom: 20px;
    max-width: 300px;
    max-height: 100%;
    margin-right: 20px;
    overflow: hidden;

    .block__img {
      overflow: hidden;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      img {
        width: 300px;
        border-radius: 10px;
        height: 400px;
        object-fit: cover;
        overflow: hidden;
        transition: width ease-in-out 200ms;

        &:hover {
          height: 400px;
          width: 330px;
        }
      }
    }

    .block__title {
      margin-top: 10px;
      .title {
        font-weight: 600;
        font-size: 16px;
        padding: 5px 0;
        overflow: hidden;
      }

      .id__name {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;

        .name {
          display: flex;
        }

        img {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: -5px;
        }
      }

      .favourite {
        opacity: 0.6;
        display: flex;

        span {
          font-size: 15px;
        }
      }
    }
  }
}
