// index Menu
.menu_list {
  width: 225px;
}

// menu items

.menu_items {
  padding: 12px 15px;
  width: 100%;
  background-color: transparent;
  display: flex;

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.06);
  }
}

// header menu
// menu items
.menu_item,
.menu_login {
  height: 50px;
  line-height: 1.8rem;
  position: relative;
  border-top: 1px solid rgba(22, 24, 35, 0.1);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.06);
  }
}
.menu_item_btn,
.menu_login_btn {
  font-size: 2rem;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
}

.menu_item_title,
.menu_login_title {
  font-size: 1.6rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.menu_body {
  overflow-y: auto;
}
