.wrapper {
  width: 100%;
  max-height: min(100vh - 60px);
  display: flex;
  background-color: rgb(248, 248, 248);
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  .main {
    width: 1100px;
    height: 600px;
    margin: 25px 0 40px;
    padding: 64px 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    background-color: rgb(255, 255, 255);

    .main__block {
      width: 100%;
      min-width: 100px;
      min-height: 460px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 2px dashed #ddd;
      cursor: pointer;

      &:hover {
        background-color: rgba(22, 24, 35, 0.03);
      }

      .icon__upload {
        opacity: 0.6;
        font-size: 32px;
        margin-bottom: 20px;
      }

      h3 {
        display: flex;
        justify-content: center;
      }

      ul {
        opacity: 0.7;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          padding: 5px 0;
          font-size: 1.5rem;
        }
      }

      .selectFile__btn {
        height: 36px;
        font-weight: 600;
        font-size: 1.6rem;
        border-radius: 4px;
        margin: 20px 300px;
        text-decoration: none;
        overflow: hidden;
        color: var(--white);
        background-color: var(--primary);
        cursor: pointer;

        &:hover {
          background-color: #ea284e;
        }
      }
    }
  }
  .footer {
    width: 100%;
    min-height: 400px;
    padding: 40px 150px;
    background-color: #000;

    .footer__head {
      display: flex;

      img {
        height: 34px;
        margin-top: 10px;
      }

      .interact {
        display: flex;
        margin: 0 50px;

        .interact__items {
          width: 225px;
          color: var(--white);

          h4 {
            line-height: 40px;
          }
          a {
            opacity: 0.8;
            line-height: 35px;
            font-size: 1.4rem;
            color: var(--white);

            &:hover {
              border-bottom: 2px solid var(--white);
            }
          }
        }
      }
    }

    .footer__end {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;

      .footer__end__btn {
        font-size: 1.6rem;
        padding: 5px 10px;
        cursor: pointer;
        border: 0.5px solid #ccc;
        background-color: #000;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;

        div#tippy-8 {
          display: none;
        }

        &:hover {
          div#tippy-8 {
            display: flex;
          }
        }
      }
    }
  }
}

// Tippy

.block {
  background-color: white;
  border: 1px solid #898585;

  .language__items {
    height: 600px;
    max-height: min(100vh);
    overflow-y: auto;
    border: 1px solid #959595;

    li {
      padding: 5px 10px;
      cursor: context-menu;

      &:hover {
        background-color: #0ecff0;
        color: var(--white);
      }
    }
  }
}
