button {
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  width: 1140px;
  padding: 55px 24px;
  position: relative;
  max-height: min(100vh - 100px);
  overflow-y: auto;
}

.coin_cents {
  display: flex;
  justify-content: space-between;
}

.coin_subcents {
  font-size: 2rem;
}

.coin_history {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 30px;
}

.use_coin {
  width: 400px;
  height: 76px;
  margin-top: 20px;
  background-color: rgba(22, 24, 35, 0.03);
  display: flex;
  align-items: center;

  .use_block {
    display: flex;
    align-items: center;

    .use_avatar {
      width: 32px;
      height: 32px;
      margin: 0 0 0 10px;
      border-radius: 999px;
      background-color: transparent;
      cursor: pointer;
    }
    .use_name {
      padding: 0 20px 0 10px;
    }
    .use_subcents {
      padding-left: 20px;
      border-left: 1px solid rgba(22, 24, 35, 0.3);
      color: rgba(22, 24, 35, 0.5);

      .use_chevronright {
        padding: 0 10px;
        margin-bottom: -1px;
      }
      .show_coin {
        cursor: pointer;
      }
    }
  }
  .avatar_coin {
    margin-bottom: -2px;
  }
}

.load_coin {
  margin: 20px 0;
  display: flex;

  .load_coin_colored {
    margin-left: 5px;
    color: var(--red);
  }

  .load_coin_icon {
    margin: 4px 0 0 3px;
    color: rgba(22, 24, 35, 0.5);
  }
}

.coin_list {
  .coin_list_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & + .coin_list_btn {
      margin-top: 20px;
    }

    .block_btn {
      min-width: 230px;
      height: 96px;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;
      border: 1px solid rgba(22, 24, 35, 0.2);

      & + .block_btn {
        margin-bottom: 20px;
      }

      &:focus {
        border: 1px solid rgb(231, 217, 60);
      }

      .block_btn_loadcents {
        font-size: 2.2rem;
        font-weight: 700;
        padding-bottom: 10px;

        span {
          padding-left: 5px;
        }
      }

      p {
        color: rgba(22, 24, 35, 0.5);
      }
    }
  }
}

.payment_methods {
  margin: 10px 0;
  font-weight: 200;
  display: flex;
  align-items: center;

  p {
    padding-right: 3px;
  }
  .avatar_pay {
    width: 22px;
    height: 14px;
    margin-right: 4px;
    display: inline-block;
    cursor: pointer;
  }
}

.result {
  margin-bottom: 20px;
  span {
    font-weight: 700;
    padding-left: 10px;
  }
}

// history

.history {
  top: 80px;
  bottom: 50px;
  width: 1120px;
  height: min(100% - 100px);
  background-color: white;
  z-index: 3;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 40px;
  position: fixed;

  .history__head {
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid #ddd;

    .icon__back {
      font-size: 30px;
      height: 40px;
      padding: 20px;
      cursor: pointer;
    }

    .title__sub {
      display: flex;
      flex-direction: column;

      span {
        opacity: 0.6;
      }

      a {
        font-size: 1.6rem;

        &:hover {
          text-decoration: revert;
        }
      }

      .coin__deposit__terms {
        margin-left: 5px;
        background-color: transparent;
      }
    }
  }

  .history__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
// history
.history__rules {
  top: 75px;
  z-index: 3;
  bottom: 50px;
  padding: 40px;
  width: 1120px;
  border-radius: 10px;
  height: min(100vh - 95px);
  display: flex;
  position: fixed;
  background-color: white;
  border: 1px solid #ddd;
  overflow-y: auto;

  .rules {
    .rules__items {
      .rules__items__title {
        padding: 10px 0;
        li {
          display: -webkit-inline-box;
          padding: 5px 0;
          flex-direction: column;
          width: 100%;

          h4 {
            display: inline-block;
          }

          a {
            margin: 0 5px;
            color: rgb(48, 94, 247);
            &:hover {
              color: blue;
            }
          }

          p {
            color: cornflowerblue;
          }
          ul {
            width: 100%;
            margin-top: 20px;
            margin-left: -500px;
            li {
              display: flex;

              p {
                color: cornflowerblue;
                display: flex;
                margin-bottom: -24px;
                margin-left: -18px;
              }
            }
          }
        }
      }
    }
  }
}

.main__recharge {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;

  .recharge {
    top: 110px;
    bottom: 50px;
    width: 901px;
    height: min(100% - 180px);
    background-color: white;
    z-index: 3;
    border: 1px solid #ddd;
    border-radius: 10px;

    position: fixed;
    overflow: hidden;

    .recharge__head {
      padding: 25px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
    }

    .history__body {
      padding: 0 25px;
      padding-bottom: 50px;
      max-height: min(100vh - 230px);
      overflow-y: auto;

      .history__body__items {
        padding: 20px 0;
        display: flex;
        border-bottom: 1px solid #ddd;
        justify-content: space-between;

        .name {
          display: flex;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
          }
        }

        .btn {
          font-size: 1.6rem;
          background-color: transparent;
          color: red;
          cursor: pointer;
        }
      }

      .history__body__itemssub {
        padding: 20px 0;
        display: flex;
        border-bottom: 1px solid #ddd;
        flex-direction: column;

        div {
          display: flex;
          justify-content: space-between;
        }
      }

      .selects {
        margin-top: -1px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #ddd;
        cursor: pointer;
        flex-direction: column;

        .name {
          display: flex;
          justify-content: space-between;

          .select__name {
            padding: 20px;
            display: flex;
            align-items: center;
          }
        }

        .context__card__items {
          padding: 0 50px;
          display: flex;
          h4 {
            margin: 10px 0 5px;
          }

          .list {
            width: 548%;
            padding-right: 15px;

            input {
              width: 367px;
              height: 36px;
              padding-left: 10px;
              margin-bottom: 20px;
              border: 1px solid #ddd;
              background-color: #f2f3f4;
            }
          }
        }

        .context__card__tick {
          padding: 0 50px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;

          input {
            accent-color: red;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            cursor: pointer;
          }
        }

        .nameSub {
          display: flex;

          .select__name {
            padding: 20px;
            align-items: center;
            display: flex;
            flex: 1;

            label {
              margin-top: -3px;
              cursor: pointer;
            }
          }
        }

        .select__context {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            padding-bottom: 15px;
            opacity: 0.6;
          }

          button {
            margin-bottom: 25px;
            border-radius: 5px;
          }
        }

        .select__img {
          padding: 20px;

          display: flex;
          img {
            width: 32px;
            height: 20px;
            object-fit: cover;
          }
        }
        input[name="drone"] {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          accent-color: red;
        }
      }

      .history__body__footer {
        padding: 0 0 10px 0;
        border-bottom: 1px solid #ddd;

        .title {
          margin-bottom: 5px;

          span {
            opacity: 0.6;
            font-size: 1.4rem;
          }

          a {
            font-size: 1.5rem;
            padding: 0 5px;
            font-weight: 600;

            &:hover {
              text-decoration: revert;
            }
          }
        }
      }

      .footer__btn {
        margin: 30px 0;
        display: flex;
        justify-content: flex-end;

        .btn__item {
          min-width: 40px;
          margin-right: 20px;
          border-radius: 4px;
          background-color: var(--white);
          cursor: pointer;
          border: 1px solid #ddd;
        }

        .btn__pay {
          width: 140px;
          border-radius: 5px;
          font-size: 1.5rem;
          height: 36px;
          font-weight: 600;
          background-color: var(--primary);
          color: var(--white);
          border: 1px solid var(--primary);
          padding: 5px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
